<div class="header">
  <h4>Simple Airbnb</h4>
  <!-- add add flat to it -->
  <%= link_to 'Add Flat', new_flat_path, class: "btn btn-outline-primary" %>
</div>
<h1 class="all_flats">All our Flats (<%= Flat.count %>)</h1>
<div class="container">
  <% @flats.each do |flat| %>
  <div class="cards">
    <div class="card">
      <h5><%= flat.name %></h5>
        <p><%= flat.address %></p>
        <p><i class="fas fa-user-friends"></i><%= flat.number_of_guests %> <i class="fas fa-euro-sign"></i><%= flat.price_per_night %></p>
        <p><%= link_to 'More info', flat_path(flat.id) %></p>
  <% end %>
    </div>
  </div>
</div>
